<div class="row">
  <div *ngFor="let product of products | async" class="col s3">
    <mz-card

      [horizontal]="true">

      <mz-card-title>
        {{product.name}}
      </mz-card-title>
      <mz-card-content>
        Very good coffee, much expensive
      </mz-card-content>
      <mz-card-action>
        <button mz-button float="true" (click)="deleteProduct(product)" style="background-color: red">
          <i mz-icon-mdi [icon]="'delete'"></i>
        </button>
        <input class="filechooser" type="file" (change)="uploadFile($event)">

      </mz-card-action>
    </mz-card>
  </div>
</div>

<form [formGroup]="productFormGroup" (ngSubmit)="addProduct()">

  <label>
    Product Name:
    <input type="text" formControlName="name">
  </label>
  <button mz-button style="background-color: limegreen">
    <i mz-icon-mdi [icon]="'cart-plus'"></i>
  </button>



</form>


