<!--The content below is only a placeholder and can be replaced.-->


<mz-navbar  [navbarClass]="'black darken-1'">
  <a href="#" class="brand-logo center" style="font-family: 'Allerta Stencil', Sans-serif, serif;">Kenny's Coffee</a>
  <mz-navbar-item-container [align]="'left'">
    <mz-navbar-item  ><a href="">Home</a></mz-navbar-item>
    <mz-navbar-item  ><a href="/customers">Customers</a></mz-navbar-item>
    <mz-navbar-item  ><a href="/orders">Orders</a></mz-navbar-item>
    <mz-navbar-item  ><a href="/products">Products</a></mz-navbar-item>

  </mz-navbar-item-container>
</mz-navbar>

<router-outlet></router-outlet>





